#particles-js{
    position:absolute;
    height:200vh;
  
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
    overflow: hidden;
    overflow-y:hidden;
        overflow-x:hidden;
}
#boton{
    position: absolute;
    z-index: 50;
    top:300px;
}


@media screen and (min-width: 360px){
    #particles-js{
       width:100%;
    }   
    body{
    
        overflow: hidden;
        overflow-y:hidden;
        overflow-x:hidden;

    } 

}